{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="col-md-10 mx-auto my-4">
    <div class="row">
        <div class="col-md-8" >
            <h1 class="mb-4"  style="margin-left: 200px;">Cart Items</h1>
            {% for cart in mycart %}
            <div class="row mb-4 border rounded p-3">
                <div class="col-md-6">
                    <img src="{{ cart.petid.petimage.url }}" class="card-img-top img-fluid" alt="Pet Image" height="100px">
                </div>
                <div class="col-md-6 my-1">
                    <div class="card-body">
                        <h2 class="card-title">{{ cart.petid.name }}</h2>

                        <p class="card-text">{{ cart.petid.description }}</p> 
                         <h3 class="card-text">{{ cart.petid.gender }}</h3>
                         <h2 class="card-title">{{ cart.petid.price }}</h2>
                        
                        {% if cart.quantity > 1 %}
                        <a  href="/updatequantity/{{cart.id}}/decr" class="btn btn-danger">-</a>
                        {% endif %}
                        <b><span>{{ cart.quantity }}</span></b>
                        <a href="/updatequantity/{{cart.id}}/incr" class="btn btn-danger">+</a><br>
                        
                        
                        <a href="/removecart/{{cart.id}}" class="btn btn-primary">Remove Item</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h1 class="mb-4"  style="margin-left: 80px;">Summary</h1>
            <div class="row mb-4 border rounded p-3" style="margin-left: 20px;">
            <h3>Quantity : {{count}}</h3>
            <h3> Total price : {{TotalBill}}</h3>
            <a href="/confirmorder" class="btn btn-primary"> Confirm Order</a>
            </div>
            <!-- Add summary details here -->
        </div>
    </div>
</div>
{% endblock 'main' %}
